<template>
	<div class="row">
		<div class="col">
			<div class="card-frame card">
				<div class="card-body">


					<div class="text-center">
						<div class="user-name">{{ userName }}</div>
						<p v-if="!loading">{{ fortune }}</p>
						<p v-if="loading">loading...</p>
					</div>
					<div class="col-md-2">
						<button type="button" class="col-md-5 btn btn-danger" @click="handleReset">Reset</button>
					</div>


				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex'
	export default {
		name: 'Fortune',
		props: [],
		methods: {
			handleReset() {
				this.$emit('reset')
			},
		},
		computed: {
			...mapGetters('FORTUNE', [
				'fortune',
				'userName',
				'loading'
			])
		},
	}
</script>

<style scoped>
	.user-name {
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
	}
</style>