<template>
	<div class="row">
		<div class="col">
			<div class="card-frame card">
				<div class="card-header">
					<div class="align-center text-left flex-left overflow-auto">


						<input type="text" class="form-control" placeholder="Tell me your name..." v-model="name">
						<div class="col-md-4">
							<button type="button" class="col-md-5 btn btn-primary" @click="handleClick">Find</button>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex'

	export default {
		name: 'name-input',
		props: [],
		data: () => ({
			name: ''
		}),
		methods: {
			handleClick() {
				this.$emit('click', this.name)
			},

			handleReset() {
				this.name = ''
				this.$emit('reset')
			}
		},
		computed: {
			...mapGetters('FORTUNE', [
				'hasUsername'
			])
		},
	}
</script>

<style scoped>
	.svg-inline--fa	{
		min-width: 2.25rem;
	}
</style>
