<template>
	<div id="app">
		<div class="main-content" style="">
			<div class="header bg-gradient-success pb-8 pt-5 pt-md-8"></div>
			<FortuneContainer />
		</div>
	</div>
</template>


<script>
	import FortuneContainer from '@/container/Fortune.vue'
	export default {
		name: 'app',
		components: {
			FortuneContainer
		}
	}
</script>
